/* Web page reset settings */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
  }

  :root {
    --primary: #00a064;
    --secondary: #264653;
    --secondary-color: #1176c0;
    --accent-1: #ffaf38;
    --accent-2:#94d500;
    --light: #f8f9fa;
    --dark: #212529;
    --grey-scale: #a8aca7;
}

body {
    background-color: var(--light);
    color: var(--dark);
    line-height: 1.6;
}

.nav-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

header {
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-links{
    padding: 10px 0;
    align-items: center; 
}


.logo a {
    text-decoration: none;
    color: var(--grey-scale);
}

.logo {
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.logo span {
    font-size: 3rem;
    font-weight: 900;
    color: var(--primary);
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    text-decoration: none;
    color: var(--dark);
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: var(--primary);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary);
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: var(--accent-2);
}

.nav-links li:last-child a:hover{
    color: white;
}

/* Hide Hamburger Menu on Large Screens */
.menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

/* Sidebar Menu (Hidden by Default) */
.sidebar {
    position: fixed;
    top: 0;
    right: -250px; /* Start off-screen */
    width: 250px;
    height: 100%;
    background: var(--dark-bg);
    color: white;
    padding: 20px;
    transition: right 0.3s ease-in-out;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 40px;
}

.sidebar ul li {
    padding: 15px 0;
}

.sidebar ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 20px;
    display: block;
}

.sidebar ul li a:hover{
    color: var(--secondary-color);
}

/* Close Button */
.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
}

@media screen and (max-width: 675px) {
    .nav-links {
        display: none; /* Hide nav links on small screens */
    }

    .menu-icon {
        display: block; /* Show hamburger menu */
    }
}
